nav{  
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 20px;
  border-bottom: 1px solid black;
}
nav .profile-icon a{
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
}
nav .profile-icon canvas{
  height: 40px !important;
  width: 40px !important;
  border-radius: 50%;
}
nav .search-bar input{
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
}
