@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

:root{
  --main-color: #7857fe;
  --color-1: #e91e63;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
  --shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
  --black-900: #000;
  --black-200: #eee;
  --black-100: #f7f7f7;
  --black-000: #fff;
  --black-alpha-100: rgba(0,0,0,0.05);
}
.App{
  overflow:hidden;
  font-family: Poppins, sans-serif;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 750px;
  height: 70vh;
  margin-top: 40px;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}